#header > h1{
    font-family: 'Segoe UI', Tahoma;
    color: azure;
}
body{
    background-color: darkslategray;
}

button{
    border-radius: 1.5rem;
    width: 13rem;
    height: 13rem;
    font-size: medium;
    
}
#container{
    width:50%;
    margin: auto;
}
/* Style for screens smaller than 768px */
@media (max-width: 768px) {
    button {
      width: 100%; /* Make the button full width */
    }
  }
  
  /* Style for screens larger than 768px */
  @media (min-width: 768px) {
    button {
      width: 200px; /* Set a fixed width for the button */
    }
  }